.filter-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.filter-buttons .btn {
  flex: 1;
  margin: 0 5px;
  border: none;
}

.filter-buttons .btn.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.scrollable-table {
  max-height: 550px; /* Đặt chiều cao tối đa */
  overflow-y: auto;  /* Cho phép cuộn dọc */
}
.product-list-container {
  background-color: #A8E6CF;  /* Màu xanh nhẹ giống như category */
  margin: 20px;
  border-radius: 10px;
  max-width: 97%;
  padding: 20px;  /* Thêm padding cho khoảng cách giữa nội dung và viền */
}
